[Unit]
Description=xremap (Wayland key remapping)
After=hyprland-session.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'while [ ! -S "$XDG_RUNTIME_DIR/$WAYLAND_DISPLAY" ]; do sleep 0.5; done'
ExecStart=/usr/bin/xremap /home/reklai/.config/xremap/config.yml
Restart=on-failure

[Install]
WantedBy=hyprland-session.target

